@font-face {
    font-family: "Franklin";
    src: url(../Franklin-Gothic-book-normal.woff2) format("woff2");
}

body {
    background-color: rgb(102, 61, 57);
    font-size: 40px;
    margin: 0;
}

h1 {
    color: rgb(55, 40, 37);
    font-size: 200px;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
    animation: titlemoving 8s infinite;

}

h2 {
    color: rgb(55, 40, 37);
    text-align: left;
    margin: 0;
    padding: 0;
    /*padding-top: 300px;*/
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    overflow: hidden;
    /* Versteckt den Text, der noch nicht getippt wurde */
   white-space: nowrap;
    /* Kein Zeilenumbruch */
    width: 0;
    /* Startbreite bei 0, um die Animation korrekt zu starten */
    animation: typing 1s steps(20, end) forwards, blink-caret 0.75s step-end 1;
    position: relative;
}

h2:nth-child(2) {
    animation-delay: 2s;
}

h2:nth-child(3) {
    animation-delay: 3s;
}

h2:nth-child(4) {
    animation-delay: 4s;
}

h2:nth-child(5) {
    animation-delay: 5s;
}

h2:nth-child(6) {
    animation-delay: 6s;
}

h2:nth-child(7) {
    animation-delay: 7s;
}

h2::after {
    content: '';
    /* Cursor-Effekt */
    display: inline-block;
    border-right: 2px solid #56120800;
    /* Blinker-Effekt */
    height: 30px;
    /* Höhe des Cursors */
    position: absolute;
    top: 0;
    right: 0;
    animation: blink-caret 0.75s step-end 1;
}

/* Schreibmaschinen-Effekt */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 200px;
    }
}

/* Blinken des Cursors */
@keyframes blink-caret {

    from,
    to {
        border-right: 2px solid #56120800;
    }

    50% {
        border-right: 2px solid #561208;
    }
}

.parentcontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1fr 3fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
}

#rothkotitle {
    transform: rotate(180deg) translate(-90px);
    writing-mode: vertical-lr;
    padding: 0pt;
    margin: 0pt;
}

#chillidatitle {
    writing-mode: vertical-rl;
    transform: translate(-90px);
}

.redpart {
    background-color: rgb(159, 64, 55);
}

.information {
    transform: translate(0,300px);
}

@media (max-width: 768px) {

    .parentcontainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 80px 1fr 3fr 1fr 80px;
        grid-template-rows: 50px 100px 1fr 100px 50px;
    }

    .rothko {
        grid-column: 3;
        grid-row: 2;
    }

    #rothkotitle {
        transform: rotate(0deg) translate(0, -30px);
        writing-mode: horizontal-tb;
        padding: 0pt;
        margin: 0pt;
        text-align: center;
    }

    .chillida {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    #chillidatitle {
        writing-mode: horizontal-tb;
       transform: translate(0, -90px);
    }
    .redpart {
        height: autox;
    }

    h2 {
        transform: translate(40px, -80px);
        overflow: hidden;
        margin: 0;
        padding: 0;
        /* Versteckt den Text, der noch nicht getippt wurde */
        white-space: nowrap;
        /* Kein Zeilenumbruch */
        width: 0;
        /* Startbreite bei 0, um die Animation korrekt zu starten */
        animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
        position: relative;
    }
    .information {
        transform: translate(0,-900px);
    }

    h2::after {
        content: '';
        /* Cursor-Effekt */
        display: inline-block;
        border-right: 2px solid #56120800;
        /* Blinker-Effekt */
        height: 30px;
        /* Höhe des Cursors */
        position: absolute;
        top: 0;
        right: 0;
        animation: blink-caret 0.75s step-end 1;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    
        to {
            width: 150px;
        }
   
   
        h1 {
        font-size: 100px;
        line-height: 100%;
    }
}
@keyframes blink-caret {

    from,
    to {
        border-right: 2px solid #56120800;
    }

    50% {
        border-right: 2px solid #561208;
    }

}
}