@font-face {
    font-family: "Franklin";
    src: url(../Franklin-Gothic-book-normal.woff2) format("woff2");
}

body {
    background-color: rgb(102, 61, 57);
    margin: 0;
}

h1 {
    color: rgb(55, 40, 37);
    font-size: 25vh;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
    animation: titlemoving 8s infinite;
}

h2 {
    color: rgb(55, 40, 37);
    text-align: left;
    transform: translate(20px,0);
    width: 0;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium';
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(40, end) forwards, blink-caret 0.5s 10 step-end;
    position: relative;
}

h2:nth-child(2) {
    animation-delay: 2s;
}

h2:nth-child(3) {
    animation-delay: 3s;
}

h2:nth-child(4) {
    animation-delay: 4s;
}

h2:nth-child(5) {
    animation-delay: 5s;
}

h2:nth-child(6) {
    animation-delay: 6s;
}

h2:nth-child(7) {
    animation-delay: 7s;
}

/* cursor */
h2::after {
    content: '';
    display: inline-block;
    border-right: 2px rgb(102, 61, 57);
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Schreibmaschinen-Effekt */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

/* Blinken des Cursors */
@keyframes blink-caret {
    from,
    to {
        border-right: 2px solid #56120800;
    }

    50% {
        border-right: 2px solid #561208;
    }

    100% {
        border-right: 0 solid rgb(102, 61, 57);
    }
}

.parentcontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 20vw 5vw 50vw 5vw 20vw;
    grid-template-rows: 10vh 5vh 70vh 5vh 10vh;
}

#rothkotitle {
    writing-mode: vertical-lr;
    transform: rotate(180deg) translate(-90px, 0px);
    position: inherit;
    justify-self: end;
    align-self: center;
   /* padding: 0;
    margin: 0; */
}

#chillidatitle {
    writing-mode: vertical-rl;
    transform: translate(-90px,-40px);
    position: inherit;
    justify-self: center;
    align-self: center;
}

.redpart {
    background-color: rgb(159, 64, 55);
}

.information {
    transform: translate(0, 300px);
}

@media (max-width: 768px) {
    h1 {
        color: rgb(55, 40, 37);
        font-size: 20vw;
        font-family: 'Franklin Gothic Medium';
        margin: 0;
        padding: 0;
        position: inherit;
        justify-self: center;
        align-self: center;
        animation: titlemoving 8s infinite;
    }

    .parentcontainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 10vw 0 80vw 0 10vw;
        grid-template-rows: 18vh 2vh 60vh 2vh 18vh;
    }

    .rothko {
        grid-column: 3;
        grid-row: 2;
    }

    #rothkotitle {
        writing-mode: horizontal-tb;
        transform: translate(0, 0vh);
        position:inherit ;
        justify-self: center;
        align-self: center ;
    }

    .chillida {
        grid-column: 3;
        grid-row: 4;
    }

    #chillidatitle {
        writing-mode: horizontal-tb;
        transform: translate(0, 0vh); 
        position:inherit ;
        align-self: center ;
        justify-self: center;
       
    }

    h2 {
        transform: translate(40px, -170px);
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 6s steps(40, end) forwards, blink-caret 0.5s 10 step-end;
        position: relative;
    }

    h2::after {
        content: '';
        display: inline-block;
        border-right: 0 rgb(102, 61, 57);
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 80%;
        }

        100% {
            border-right: 0 solid rgb(102, 61, 57);
        }
    }
}